body {
	background-color: grey;
}

form {
	margin-bottom: 5px;
}

#userSearch, #selectRadius, #submit {
	border: none;
	height: 25px;
	border-radius: 2px;
}

#userSearch {
	width: 25%;
	padding: 0px;
}

#selectRadius, #submit {
	font-weight: bold;
}

#submit {
	background-color: orange;
}

#map {
    height: 400px;
    width: 100%;
}
